html {
    font-size: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    background-color:white;
}

body {
    width: auto;
    margin: 0 auto; /*the space around the outside of the element*/
    background-color: #FF9500;
    padding: 0 20px 20px 20px; /*the space just around the content*/
    border: 5px solid black;    /*the solid line that sits just outside the padding*/
}

img {
    display: block;
    margin: 0 auto;
}

h1,h2 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
}

h3 {

    font-size: 20px;
}

p,li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    
}


ul {
    font-size: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    
}

.row {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding-right: 2em;
    padding-left: 2em;
    overflow: hidden;
}

div {
    box-sizing: border-box;
    display: table-row-group
}

/*
header {
    text-align: center
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 58px;
    background: #262829;
}*/
